# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/

# App-specific
uploads/
kibiz_summen_abgabebereit.csv
kibiz_einzelbuchungen_kontrolle.csv
transactions_export.csv
Umsaetze_*.csv
2022/
2023/
KGJ_*/
*.pdf
